<div class="title-page__container">
  <header class="header">
      <div class="header-num__container">
        <p class="header__text header_num">Custom Care: 888-23-456</p>
      </div>
    <div class="header__menu">
      <button class="header__text header__button">S US</button>
      <button class="header__text header__button"><fa-icon [icon]="faHumanIcon"></fa-icon>MY ACCOUNT</button>
      <button class="header__text header__button"><fa-icon [icon]="faSearchIcon"></fa-icon></button>
    </div>
  </header>
</div>
