<div class="title-page__container">
  <header class="header">
      <div class="header-num__container">
        <p class="header__text header_num">Custom Care: 888-23-456</p>
      </div>
    <div class="header__menu">
      <button class="header__text header__button">S US</button>
      <button class="header__text header__button"><fa-icon [icon]="faHumanIcon"></fa-icon>MY ACCOUNT</button>
      <button class="header__text header__button"><fa-icon [icon]="faSearchIcon"></fa-icon></button>
    </div>
  </header>
  <main class="main">
    <div class="both_nav">
      <div class="payments_line">
        <p>We accept </p>
        <img class="payments_img" src="../../../assets/payments.png" alt="">
      </div>
      <div class="nav_both__container">
        <ul class="both_nav_list" *ngFor="let list of lists">
          <li class="both_nav_item" *ngFor="let item of list">
            <h3 class="both__title" *ngIf="item.title">{{item.title}}</h3>
            <a class="both_nav_link" href={{item.href}}>{{item.text}}</a>
          </li>
        </ul>
        <div class="socials">
          <h3 class="both__title">Socials</h3>
          <table>
            <tr *ngFor="let social of socials">
              <td><a href="{{social.href}}"><img src="{{social.img}}" alt=""></a></td>
              <td><a href="{{social.href2}}"><img src="{{social.img2}}" alt=""></a></td>
              <td><a href="{{social.href3}}"><img src="{{social.img3}}" alt=""></a></td>
            </tr>
          </table>
        </div>
        <img class="secure_img" src="../../../assets/secure.png" alt="">
      </div>
    </div>
  </main>
  <footer class="footer">
    <button class="footer-menu__button"><fa-icon [icon]="faMenuIcon"></fa-icon></button>
    <ul class="footer-menu__list">
      <li *ngFor="let item of footer_list" class="footer-menu__item"><a class="footer-menu__link" href="{{item.href}}">{{item.text}}</a></li>
    </ul>
    <div class="copyright">
      <span class="copyright__text">© LookShop.com</span>
      <span class="copyright__text">All Rights Reserved</span>
    </div>
  </footer>
</div>
