.title-page__container{
  max-width: 320px;
  min-width: 320px;
  overflow: hidden;
  margin: 0 auto;
}
.header_num{
  padding: 0;

}
.header__text{
  font-family: Arial;
  color: #838383;
  font-size: 27.2px;
  letter-spacing: -0.15px;
  text-align: center;
}
.header__button{
  background: black;
  border: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  color: white;
  padding: 4px 1.9px;
}
.header_drop-menu {
  display: none;
}
/***********************************************************
                          MAIN
***********************************************************/
.header_bucket-container{
  text-align: center;
}
/****
dropped
*****/
.logo-img{
  width: 90%;
  margin: auto;
  padding: 2% 0;
}
.shop_data{
  display: flex;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  background-color:  #fafafa;
  width: 95.3%;
  height: 3.8%;
  padding: 0 5%;
  align-items: center;
  font-size: 24px;
}
.shop_data__icon, .shop_data__text{
  font-family: Arial;
  color: #949393;
  font-size: 30px;
  letter-spacing: -0.15px;
  text-align: right;
  margin: 5% 0;
}
.shop_data__text{
  width: 100%;
}.shop_data__text{
   width: 100%;
 }

/*******/
.both_nav{
  background-color:  #ededed;
  min-height:  280px;
}
.payments_line{
  background-color:  #f7f7f7;
  width: 100%;
  height: 2.4%;
  display: block;
  text-align: center;
}
.payments_img{
  height: 14px;
  padding-left: 0;
}
.both-list__container{
  width: 210px;
  min-font-size: 6px;
  float: left;
}
.nav_both__container{
  float: left;
  padding: 1.5% 3.5%;
}
.both_nav_list{
  min-width: 105px;
  float: left;
}
.both_nav_item{
  padding: 0 10px;
  line-height: 0.7;
}
.both_nav_link{
  text-decoration: none;
  font-family: Arial;
  color:  #544e4d;
  font-size: 2vw;
  min-font-size: 9px;
}
.both__title{
  font-family: Arial;
  color:  #544e4d;
  font-size: 2.5vw;
  font-weight: bold;
  letter-spacing: -0.16px;
  margin: 10px 0 0 0;
}
.socials{
  padding: 0 4px;
  float: left;
}
.social_img{
  height: 20px;
  width: 20px;
}
.secure_img{
  width: 75px;
  height: 75px;
  float: left;
  padding-left: 2px;
}
/***********************************************************
                        FOOTER
***********************************************************/
.footer{
  height: 108px;
  width: 100%;
  background: black;
}
.footer *{
  color: #8d8d8d;
}
.footer-menu__button{
  background: none;
  border: none;
  color: white;
  display: flex;
  align-self: center;
  height: 100%;
  padding-left: 30px;
  font-size: 30px;
  float: left;
}
.footer-menu__list{
  display: none;
  align-items: center;
  height: 100%;
  padding-left: 2%;
  float: left;
}
.footer-menu__item{
  padding: 0 5px;
  border-right: 1px solid #8d8d8d;
  border-collapse: collapse;
}
.footer-menu__item:nth-child(5){
  border: none;
}
.footer-menu__link{
  text-decoration: none;
  font-size: 12px;
}
.copyright{
  float: right;
  text-align: right;
  display: grid;
  padding: 35px 3%;
  color: white;
}
/***********************************************************
                        @MEDIA
***********************************************************/
@media screen and (min-width: 321px){
  .payments_img{
    align-self: center;
    max-width: 50vw;
    padding-left: 15px;
  }
  .payments_line{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 321px) and (max-width: 640px) {
  .title-page__container{
    max-width: 640px;
  }
  .header__button{
    padding: 5.4%;

  }
  .header__text{
    font-size: 6vw;
  }
  .header__menu{
    text-align: center;
    width: 100%;
  }
  .nav_both__container{
    padding: 1.5% 5%;
  }
  .both-list__container{}
}
@media screen and (min-width: 411px) {
  .nav_both__container {
    padding: 1.5% 13.5%;
  }
  .both-list__container{
    width: 69%;
  }
}
@media screen and (min-width: 641px) {
  .bucket_selector{
    width: 100%;
    height: 30px;
    color: gray;
    border: 1px solid gainsboro;
    margin-bottom: 3px;
    background: white;
  }
  .logo-img{
    float: left;
    height: 4vh;
    width: auto;
    margin: 0;
    padding-left: 15px;
  }
  .header_bucket-container{
    display: flex;
    align-items: center;
    margin: 2% 0;
    position: relative;
  }
  .bucket_container{
    position: absolute;
    right: 1.5%;
  }
  .shop_data{
    float: right;
    margin: 0 0 0 46.7%;
    padding: 2%;
    width: 100%;
  }
  .shop_data__text{
    margin: 0;
  }
  .shop_data *{
    font-size: 15px;
    margin: 1%;
  }
  .title-page__container{
    max-width: 768px;
  }
  .header{
    height: 30px;
    background: black;
  }
  .header-num__container{
    display: flex;
    float: left;
    padding-top: 8px;
    padding-left: 2%;
  }
  .header__button{
    padding: 8px 10px;
  }
  .header__text{
    font-size: 12px;
    margin: 0;
    align-self: center;
    color: white;
  }
  .header__menu{
    float: right;
    padding-right: 2%;
  }
  .footer-menu__button{
    display: none;
  }
  .footer-menu__list{
    display: flex;
  }
  .both-list__container{
    width: 45%;
  }
  .both__title{
    font-size: 2vw;
  }
  .both_nav[_ngcontent-c1] {
    min-height: 300px;

  }
  .both_nav_item{
    line-height: 0.9;
  }
  .both_nav_link{
    font-size: 1.5vw;
  }
  .nav_both__container {
    padding: 2%;
    display: flex;
    justify-content: center;
  }
  .nav_both__content-container{
    width: 95%;
  }
  .social_img{
    height: 40px;
    width: 40px;
    padding: 2px 3px;
  }
  .secure_img__container{
    width: 25%;
    float: left;
    padding: 4% 0 0 2%;
  }
  .secure_img {
    width: 100%;
    height: 50%;
  }
}
@media screen and (min-width: 769px) {
  .header_drop-menu {
    position: absolute;
    right: 230px;
    display: block;
  }
  .head-drop_btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  .title-page__container{
    max-width: 1200px;
  }
  .header-num__container{
    display: flex;
    float: left;
    padding-top: 8px;
    padding-left: 9.5%;
  }
  .header{
    height: 30px;
    background: black;
  }
  .header__button{
    padding: 8px 10px;
    border-collapse: collapse;
  }
  .header__text{
    font-size: 12px;
    margin: 0;
    align-self: center;
    color: white;
  }
  .header__menu{
    float: right;
    padding-right: 9.5%;
  }
  .copyright{
    padding-right: 9.5%;
  }
  .both-list__container{
    width: 58%;
  }
  .nav_both__container{
    width: 100%;
  }
  .both__title{
    font-size: 17px;
  }
  .both_nav_item{
    line-height: 1.2;
  }
  .both_nav_link{
    font-size: 14px;
  }
  .nav_both__container{
    display: flex;
  }
  .both_nav_list {
    min-width: 160px;
  }
  .nav_both__container[_ngcontent-c1] {
    padding: 1.5% 8%;
  }
  .social_img{
    height: 34px;
    width: 34px;
    align-self: center;
  }
  .secure_img__container{
    width: 15%;
    padding: 0 3%;
  }
  .secure_img{
    width: 100%;
    height: 95%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1178px){
  .both_nav {
    height: 315px;
  }
  .both-list__container {
    max-width: 42%;
  }
  .both_nav_item {
    line-height: 1;
  }
  .both__title{
    font-size: 14px;
  }
  .both_nav_link{
    font-size: 12px;
  }
  .payments_line{
    height: 12.4%;
  }
  .secure_img{
    height: 75%;
    padding: 20px;
  }
}
//@media screen and (max-width: 411px) and (max-width: ){
//
//}
