<div class="home-page__container">
  <header class="home_header">
    <img class="logo-img" src="../../../assets/logo.png" alt="">
    <div class="shop_data">
      <fa-icon class="shop_data__icon" [icon]="faShoppingBagIcon"></fa-icon><p class="shop_data__text">0 ITEMS | $ 0</p>
    </div>
    <button class="mobile-desktop__menu-btn">
      <p class="mobile-desktop__menu-text">MENU</p><fa-icon class="mobile-desktop__menu-text mobile-desktop__menu-icon" [icon]="faListIcon"></fa-icon>
    </button>
    <div class="email-input__container">
      <input type="email" placeholder="Your email adress" class="email-input">
      <button class="email-input__button"><fa-icon [icon]="faPlusIcon"></fa-icon></button>
    </div>
    <div class="socials">
      <p class="socials__text">Find us here</p>
      <a class="socials__link" href=""><fa-icon [icon]="faFacebookIcon"></fa-icon></a>
      <a class="socials__link" href=""><fa-icon [icon]="faTwitterIcon"></fa-icon></a>
      <a class="socials__link" href=""><fa-icon [icon]="faPinterestIcon"></fa-icon></a>
    </div>
  </header>
  <main>
    <div class="dress_part">
      <button class="mobile-desktop__menu-btn resent__btn">
        <p class="mobile-desktop__menu-text">WHAT`S HOT?</p>
        <fa-icon class="mobile-desktop__menu-text mobile-desktop__menu-icon" [icon]="faCaretDownIcon"></fa-icon>
      </button>
      <div class="clothes__container">
        <div class="clothes__item">
          <img src="../../../assets/girl1.png" alt="">
          <h3>MIMOSA DRESS</h3>
          <h4>73.74$</h4>
          <button class="email-input__button clothes_button"><p class="clothes__btn-text">ADD TO CART</p><fa-icon [icon]="faPlusIcon"></fa-icon></button>
        </div>
      </div>
    </div>
  </main>
</div>
