.header_drop-menu, .big_img, .email_text, .brands, .about{
  display: none;
}
.br_image{
  width: 100%;
}
.clear{
  clear: both;
}
.home-page__container{
  text-align: center;
}
.home_header{
  padding: 3% 2%;
  width: 100%;
}
.more{
  background-color:  #000000;
  width: 34.4%;
  height: 40px;
  border: none;
  margin-bottom: 10px;
  font-family: HelveticaNeueLTStd;
  color:  #ffffff;
  font-size: 20px;
  text-align: center;
}
.mobile-desktop__menu-btn{
  background-color: #fd926d;
  width: 95.3%;
  height: 3.8%;
  margin-top: 1%;
  box-sizing: border-box;
  display: block;
  border: none;
  cursor: pointer;
}
.slider-container{
  display: none;
}
.mobile-desktop__menu-text{
  font-family: Arial;
  margin: 0;
  color:  #ffffff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.15px;
  text-align: left;
  padding: 5%;
  float: left;
}
.mobile-desktop__menu-icon{
  float: right;
}
.email-input__container{
  display: flex;
  height: 3.8%;
  margin-top: 1%;
}
.email-input{
  background-color: #ededed;
  width: 72.3%;
  font-family: Arial;
  color: #9f9f9f;
  font-size: 30px;
  font-style: italic;
  letter-spacing: -0.15px;
  text-align: left;
  padding: 4%;
  border: none;
}
.email-input__button{
  background-color:  #fd926d;
  box-shadow: inset 0 -8px 0 0 #dd6b44;
  width: 15%;
  border: none;
  color:  #ffffff;
  font-size: 30px;
  font-weight: 900;
}
.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  height: 100%;
}
.socials__link{
  background-color: #f7f7f7;
  width: 13.9%;
  height: 3.5%;
  display: flex;
  justify-content: center;
  padding: 3% 0;
  color: #6b6b6b;
  font-size: 30px;
}
.socials__link:nth-child(3){
  background: #ededed;
}
.socials__text{
  font-family: Arial;
  color:  #6c6c6c;
  font-size: 26px;
  padding-right: 1%;
  display: inline;
}
/***********************************************************
                        MAIN
***********************************************************/
.plus_icon{
  float: left;
  margin: 9px 0 14px 14px;
  font-size: 20px;
}
.dress_slider__menu{
  display: none;
}
.dress_part{
  background-color:  #fd926d;
  width: 100%;
}
.resent__btn {
  width: 100%;
  background: #f4845d;
}
.clothes__container{
  padding: 2% 0;
  margin: 1px 0 0;
}
.clothes__item{
  background: #f7f7f7;
  margin: 3% 0 3% 3%;
  float: left;
  width: calc(50vw - 4.3%);
}
.clothes__item-img{
  width: 100%;
}
.clothes__btn-text{
  font-size: 14px;
  float: left;
}
.clothes_button{
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 0 auto 10%;
}
.clothes_slider{
  width: 1000px;
  display: inline-block;
  overflow: hidden;
}
.dress_label{
  font-size: 14px;
  margin-bottom: 5px;
}
.dress_price{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
.clearance_clothes{
  padding: 1% 0;
}
.more{
  width: auto;
  padding: 0 16px;
}
@media screen  and (max-width: 320px){
  .header_text{
    margin: 5% 0 0;
  }
  .mobile-desktop__menu-text, .email-input, .email-input__button{
    font-size: 24px;
  }
  .socials__link{
    width: 15.9%;
  }
  .more{
    width: 46.4%;
  }
  .clothes__item{
    margin: 1%;
    width: 14%;
  }
  .plus_icon{
    margin: 9px 0 14px 2px;
    font-size: 13px;
  }
  .clothes__btn-text{
    font-size: 10px;
  }
  .both_nav{
    min-height: 230px;
  }
}
@media screen and (min-width: 321px) and (max-width: 640px) {
  .clothes__btn-text{
    font-size: 3vw;
    display: flex;
    align-self: center;
  }
  .plus_icon{
    font-size: 13px;
    display: flex;
    align-self: center;
    margin: 1% 4% 0;
  }
  .dress_label{
    font-size: 4vw;
    margin: 2%;
  }
  .dress_price{
    font-size: 7vw;
  }
}
@media (min-width: 641px) {
  .home_header{
    padding: 0;
  }
  .mobile-desktop__menu-btn{
    margin: 0 2% 2% !important;
    width: 96%;
  }
  .br_image{
    width: 100%;
  }
  .slider-container{
    display: block;
  }
  .subscribe_container{
    display: flex;
    background-color:  #ededed;
    align-items: center;
    padding: 0 2%;
    height: 50px;
    margin: 1% 0;
    position: relative;
  }
  .subscribe_text{
    color:  #6b6b6b;
    font-size: 16px;
    padding-right: 1%;
  }
  .email-input__container{
    margin: 0;
    height: 70%;
  }
  .email-input__button, .email-input{
    font-size: 14px;
  }
  .email-input{
    background: white;
  }
  .socials{
    margin: 0;
    width: 48%;
    position: absolute;
    right: 0;
  }
  .socials__text{
    margin: 0;
    font-size: 18px;
    padding-right: 5%;
  }
  .socials > .socials__text{
    text-align: left;
    width: 101px;
  }
  .email_text{
    width: 84px;
  }
  .socials__link{
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .big_img{
    width: 96%;
    padding: 2.2% 2%;
  }
  .resent__btn{
    display: none;
  }
  .dress-filter__list{
    display: flex;
    padding: 20px;
  }
  .dress_slider__menu{
    display: block;
    background: white;
    margin-bottom: -2px;
  }
  .clothes__container{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .clothes_slider{
    display: flex;
    width: 95%;
    margin: auto;
  }
  .clothes__item{
    margin: 3% 1% 3%;
    width: calc(50vw - 2%);
  }
  .filter__radio, .slider_btn__radio{
    display: none;
  }
  .slider_btn__radio{
    background: #f2f2f2;
  }
  .filter__button{
    padding: 22px;
    color:  #555555;
    font-size: 14px;
  }
  .filter__radio:checked ~ label, .slider_btn__radio:checked ~ label{
    color: #fff;
    background: #fd926d;
  }
  .dress-filter__list{
    float: left;
  }
  .slider_btn-list{
    float: right;
    display: flex;
    background: #d6d6d6;
    font-size: 30px;
    line-height: 0.5;
    font-weight: bold;
  }
  .slider_btn__button{
    display: flex;
    padding: 22px;
  }
  .c_container{
    position: relative;
  }
  .br_image{
    z-index: 1;
  }
  .clothes__item_sail{
    background: white;
  }
  .brands-icons_container{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(178, 178, 178, 0.5);
    position: relative;
    width: 100%;
  }
  .brand_icon__header{
    font-family: Arial;
    color:  #414141;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .brand_icon__header:before,
  .brand_icon__header:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: rgba(178, 178, 178, 0.5);
    z-index: -1;
    position: relative;
    vertical-align: middle;
  }
  .brand_icon__header:before {
    right: 15px;
    margin: 0 0 0 -100%;
  }
  .brand_icon__header:after {
    left: 15px;
    margin: 0 -100% 0 0;
  }
  .brand_icon{
    height: 47px;
    padding: 18px;
  }
  .about{
    padding: 0 1%;
  }
  .about_header{
    font-family: Arial;
    color:  #414141;
    font-size: 24px;
    margin: 20px 0 0;
  }
  .about_text{
    text-align: center;
    font-family: Arial;
    color:  #999999;
    font-size: 14px;
    line-height: 18px;
  }
  .clothes_button{
    width: 163px;
  }
}
@media screen and (min-width: 641px){
  .mobile-desktop__menu-btn{
    margin: 1.6% 0;
  }
  .mobile-desktop__menu-text, .mobile-desktop__menu-icon{
    padding: 2%;
  }
}
@media screen and (min-width: 769px) {
  .mobile-desktop__menu-btn{
    display: none;
  }
  .title-page__container {
    max-width: 1200px;
  }
  .header-num__container {
    display: flex;
    float: left;
    padding-top: 8px;
    padding-left: 9.5%;
  }
  .header {
    height: 30px;
    background: black;
  }
  .header__button {
    padding: 8px 10px;
    border-collapse: collapse;
  }
  .header__text {
    font-size: 12px;
    margin: 0;
    align-self: center;
    color: white;
  }
  .header__menu {
    float: right;
    padding-right: 9.5%;
  }
}
